.dropdownContainer {
  position: relative;
}

.dropdownIcon {
  position: relative;
  text-align: left;
  &:focus {
    outline: none;
  }
  &.active,
  &.active:hover {
    background: var(--primary-color);
  }
}

.dropdownList,
.dropdownMenu {
  position: absolute;
  top: 42px;
  left: 6px;
  color: white;
  width: 200px;
  background: var(--gray-800);
  font-size: 12px;
  padding: 8px 0;
  z-index: 500000;
  &:after {
    content: '';
    top: -5px;
    left: 4px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--gray-800);
  }

  &.positionRight {
    right: 6px;
    left: auto;
    &:after {
      left: auto;
      right: 4px;
    }
  }
}

.dropdownMenu {
  width: 256px;
}

.dropdownListItem a {
  padding: 4px 12px;
  width: 100%;
  display: block;
  &:hover {
    background: var(--primary-color);
  }
}
