.container {
  display: flex;
  align-items: center;
  border-radius: 2px;
  width: 100%;
}

.iconContainer {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin-right: 4px;

  svg {
    width: 14px;
    height: 14px;
    * {
      fill: var(--gray-400);
    }
  }
}

.text {
  font-size: 12px;
  color: var(--gray-400);
  font-weight: 400;
  letter-spacing: 0.01em;
  pointer-events: none;
}

.container.active {
  background: var(--gray-700);
  box-shadow: 0 -1px var(--gray-650), 0 1px #181818;

  .text {
    color: white;
  }

  svg {
    * {
      fill: white;
    }
  }
}

.container:hover {
  background: var(--primary-color);
  box-shadow: 0 -1px lighten(#2098f5, 15), 0 1px darken(#2098f5, 15);
  transform: translateY(0px);

  .text {
    color: white;
  }

  svg {
    * {
      fill: white;
    }
  }
}

.container:active {
  transform: translateY(1px);
  box-shadow: 0 -1px lighten(#2098f5, 15);
}
