img {
  pointer-events: none;
}

.resizeHandleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizeHandle {
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
