nav {
  position: relative;
  top: 0;
  width: 100%;
  font-size: 0.85em;
  z-index: 150;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
    align-items: center;
  }
  .nav-bar {
    display: flex;
    .align-right {
      margin-right: 0;
      margin-left: auto;
    }
    .logo svg {
      height: 36px;
    }
  }

  .nav-item .nav-link {
    color: var(--gray-600);
    font-weight: 600;
    padding: 0 16px;

    &.active {
      color: $ns-orange-500;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -3px;
        left: 12px;
        width: calc(100% - 24px);
        background: $ns-orange-500;
      }
    }
  }
  .nav-item:hover {
    a {
      color: $ns-orange-500;
    }
  }
  .logo {
    padding: 0px !important;
  }
}
