.sidebar--container {
  background: var(--gray-900);
  color: white;
  height: 100%;
  padding: 16px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
  position: fixed;
  z-index: 50000000;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .tabs {
    border-bottom: 1px solid rgba(white, 0.1);
    padding: 0 16px;
    .tab-wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -0.01em;
      cursor: pointer;

      :nth-child(1) {
        padding-left: 0;
      }
    }

    .tab {
      padding: 8px;
      text-transform: capitalize;
      &:not(.active) {
        opacity: 0.3;
      }
    }
  }
}

@mixin xPadding {
  padding-left: 8px;
  padding-right: 8px;
}

.components--panel {
  border-bottom: 1px solid var(--gray-800);
  padding: 8px;
  &:nth-last-child(1) {
    border-bottom: 1px solid rgba(white, 0);
  }

  .single-row {
    display: grid;
    grid-template-rows: 32px;
    height: 32px;
  }

  .double-row {
    display: grid;
    grid-template-rows: 64px;
    height: 64px;
  }

  .panel-title {
    align-self: center;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
  }
}

.sidebar--container {
  .align_panel--container {
    display: flex;
    align-self: center;
    margin-left: 8px;
    .svg-wrapper {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 2px;
      outline: none;
      &:hover {
        background: rgba(white, 0.07);
      }

      &.active {
        background: rgba(white, 0.15);
      }

      svg {
        height: 14px;
        width: 14px;
        opacity: 0.8;
        pointer-events: none;
      }
    }
  }
}

.select--container {
  select {
    -webkit-appearance: none;
    background: none;
    font-size: 12px;
    border: 1px solid var(--gray-800);
    background: rgba(#303030, 0.5);
    padding-left: 8px;
    width: 100%;
    border-radius: 0px !important;
    color: var(--gray-400);
    outline: none;
    height: 100%;
    position: relative;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg class='svg' width='10' height='10' viewBox='0 0 8 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.646 5.354l-3-3 .708-.708L4 4.293l2.646-2.647.708.708-3 3L4 5.707l-.354-.353z' fill-rule='evenodd' fill-opacity='1' fill='%23fff' stroke='none'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    &:hover {
      border: 1px solid rgba(white, 0.15);
    }
  }
}

.active-color-container {
  display: flex;
  align-items: center;
}

.active-color {
  margin-right: 8px;
  height: 16px;
  width: 16px;
  background: $gu-orange;
  position: relative;
}

.active-color-hex {
  font-size: 10px;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 0.5;
  text-transform: uppercase;
  margin-right: 8px;
}

.color_picker--container,
.color_picker--title {
  padding-left: 8px;
  align-self: center;
  display: flex;
  .color {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    background: $gu-orange;
    position: relative;

    &.active:after {
      height: 6px;
      content: '';
      width: 6px;
      position: absolute;
      background: white;
      opacity: 0.9;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 50%;
    }
  }
}

.color_picker--title {
  height: 32px;
  display: flex !important;
  .panel-title {
    margin-left: 0;
  }
}

:global {
  .remove-left-margin {
    margin-left: 0 !important;
  }
}

.justify-center {
  * {
    text-align: center;
  }
}

.justify-end {
  * {
    text-align: right;
  }
}

.file_upload {
  &--container {
    margin-left: 8px;
    font-size: 0.8em;
    display: flex;
    align-self: center;
    height: 24px;
    width: 24px;
    position: relative;
    &:after {
      height: 2px;
      content: '';
      width: 12px;
      background: var(--gray-500);
      position: absolute;
      top: 11px;
      right: 6px;
      pointer-events: none;
    }
    &:before {
      height: 12px;
      content: '';
      width: 2px;
      background: var(--gray-500);
      position: absolute;
      right: 11px;
      top: 6px;
      pointer-events: none;
    }
    &:hover {
      .file_upload--label {
        background: rgba(white, 0.15);
      }
    }
  }
  &--label {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgba(white, 0.8);
    padding: 4px 12px;
    border-radius: 2px;
    cursor: pointer;
  }

  &--input {
    display: none;
  }
}

.button {
  padding: 8px;
  font-size: 0.8em;
  background: $gu-blue;
  font-weight: 700;
  border-radius: 2px;
  margin-left: 8px;
}

.text {
  background: rgba(#303030, 0.5);
  border: 1px solid var(--gray-800);
  border-radius: 0px;
  outline: none;
  color: var(--gray-400);
  padding: 8px;
  font-size: 12px;
  width: 100%;
  height: calc(100% - 8px);
}

.logo-checkbox--container {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.logo-checkbox {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border: 1px solid var(--gray-500);
  border-radius: 2px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;

  &.for-newspaper-layer {
    border: 1px solid white;
  }

  &:checked {
    border: 0px;
  }
  &:checked::after {
    content: '';
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    background-image: url(/static/images/checkbox.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
  }
}

.size--panel {
  & > div {
    font-size: 11px;
    color: var(--gray-400) !important;
    opacity: 1;
    justify-self: flex-end;
    text-align: center;
    &:nth-last-child(1) {
      justify-self: flex-start;
      margin-left: 8px;
    }
  }
}
