.tabs {
  border-bottom: 1px solid rgba(white, 0.1);
  padding: 0 16px;
}

.tabsWrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.tab {
  padding: 8px;
  text-transform: capitalize;

  &:nth-child(1) {
    padding-left: 0;
  }

  &:not(.active) {
    opacity: 0.3;
  }

  &:not(.active):hover {
    opacity: 0.5;
  }
}
