.layerInfo {
  position: absolute;
  right: calc(100% - 4px);
  width: max-content;
  background: #2098f5;
  padding: 0 4px;
  color: white;
  border-radius: 2px;
  font-weight: 600;
  z-index: -1;
}
