.textarea {
  width: 100%;
  background: var(--gray-700);
  border: 1px solid var(--gray-650);
  border-radius: 2px;
  outline: none;
  color: #bdbdbd;
  color: var(--gray-200);
  padding: 8px;
  font-size: 12px;
  width: 100%;
  height: 128px;
  margin-bottom: 8px;
}
