.splitImageContainer {
  display: flex;
  height: 100%;
}

.imageLeftContainer {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.imageRightContainer {
  position: absolute;
  width: 100%;
  z-index: 20;
  height: 100%;
  overflow: hidden;
  background: rgba(black, 0.5);

  .resizableContainer {
    height: 102%;
    margin-top: -1%;
    margin-left: -25%;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

:global {
  .imageRightContainer .react-draggable {
    transform: skew(30deg);
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;

  &.left {
    background: #d9b814;
  }

  &.right {
    background: #d93682;
  }
}
