.helpContainer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
}

.modalContainer {
  position: absolute;
  width: 900px;
  height: 600px;
  background: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border: 1px solid #111;
}

.innerModalContainer {
  padding: 0 40px;
  margin: 0 0 32px 0;
  overflow: scroll;
  height: calc(100% - 96px);
}

.markdownContainer {
  color: white;
  margin-top: 24px;
  margin-bottom: 64px;

  h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin-left: 16px;
    margin-bottom: 1em;
  }
}

.topBar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 0 16px;
  padding-left: 40px;
  border-bottom: 1px solid var(--gray-900);

  input {
    background: var(--gray-900);
    -webkit-appearance: none;
    border: 1px solid var(--gray-800);
    color: var(--gray-400);
    padding: 4px 8px;
    font-size: 12px;
    width: 250px;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .editButton {
    color: white;
    opacity: 0.4;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
      opacity: 1;
    }
  }

  .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin-left: 8px;
    svg {
      transform: rotate(45deg);
      height: 20px;
      width: 20px;
    }
  }
}

:global {
  main {
    position: relative;
  }
}

.modalBgOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(black, 0.6);
  z-index: 4000;
  top: 0;
  left: 0;
}
