.layerContainer {
  height: 32px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  font-size: 12px;
  color: var(--gray-400);
  font-weight: 400;
  letter-spacing: 0.01em;
  justify-content: space-between;

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.layerContainer:hover {
  background: var(--gray-700);
  box-shadow: 0 -1px var(--gray-650), 0 1px #181818;
  color: white;
}

.layerName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}

.thumbnail {
  height: 20px;
  width: 20px;
  margin: 0 6px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    opacity: 0.8;
  }
}

.icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background: var(--gray-600);
  }

  &:active,
  &.active {
    background: var(--primary-color);
  }

  svg {
    height: 12px;
    width: 12px;
  }
}
