.selectContainer {
  select {
    -webkit-appearance: none;
    background: none;
    font-size: 12px;
    border: 1px solid var(--gray-700);
    background: rgba(#303030, 0.5);
    padding-left: 8px;
    width: 100%;
    border-radius: 2px !important;
    color: var(--gray-400);
    outline: none;
    height: 32px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg class='svg' width='10' height='10' viewBox='0 0 8 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.646 5.354l-3-3 .708-.708L4 4.293l2.646-2.647.708.708-3 3L4 5.707l-.354-.353z' fill-rule='evenodd' fill-opacity='1' fill='%23fff' stroke='none'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    margin-bottom: 8px;
    min-width: 60px;
    &:hover {
      border: 1px solid rgba(white, 0.3);
    }
  }
}
