.toolbar {
  position: fixed;
  top: 0;
  height: 32px;
  width: calc(100% - 280px);
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: black;
  padding: 0;
  z-index: 99999;

  .toolbarLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .toolbarRight {
    display: flex;
    justify-content: flex-end;
  }
}

.dropdownIcon {
  position: relative;
  text-align: left;
  &:focus {
    outline: none;
  }
  &.active,
  &.active:hover {
    background: var(--primary-color);
  }
}

.dropdownMenu {
  position: absolute;
  top: 42px;
  left: 6px;
  color: white;
  width: 200px;
  background: var(--gray-800);
  font-size: 12px;
  padding: 8px 0;
  z-index: 500000;
  &:after {
    content: '';
    top: -5px;
    left: 4px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid var(--gray-800);
    // border-color: pink;
  }
}

.dropdownItem a {
  padding: 4px 12px;
  width: 100%;
  display: block;
  &:hover {
    background: var(--primary-color);
  }
}

.downloadButton,
.buttonWithIcon {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  justify-self: flex-start;
  padding: 0 8px;
  border-radius: 0px;
  color: white;
  height: 100%;
  &:hover {
    background: var(--gray-900);
  }
  svg {
    height: 14px;
    width: 14px;
    margin-right: 4px;
  }
}

.sendStatus {
  min-width: 126px;
}

.showGridIcon {
  align-self: center;
  &:focus {
    outline: none;
  }
  &.active,
  &.active:hover {
    background: var(--primary-color);
  }
}

.showGridCheckbox {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border: 1px solid var(--gray-500);
  border-radius: 2px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;

  &:checked {
    border: 0px;
  }
  &:checked::after {
    content: '';
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    background-image: url(/static/images/checkbox.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
  }
}

.signInSlack {
  color: white;
  font-size: 12px;
}

.replyToPreviousThread {
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.4;
  &:hover {
    opacity: 0.6;
  }
  input {
    margin-right: 4px;
  }
}
