$layerBorderColor: rgba(white, 0.1);
$height: 32px;

@mixin textStyles() {
  font-size: 12px;
  color: var(--gray-400);
  font-weight: 500;
  letter-spacing: 0.01em;
}

@mixin boxShadow() {
  &:hover {
    box-shadow: 0px 0px 0px 1px var(--gray-700);
  }
}

.layerContainer {
  padding-top: 8px;
}

.layer {
  @include boxShadow();
  display: flex;
  height: $height;
  align-items: center;
  justify-content: space-between;
}

.layerThumbnail {
  @include boxShadow();
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-left: 8px;
  margin-right: 8px;
}

.layerNamee {
  @include textStyles();
  display: flex;
  min-width: 0;
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.layerName {
  @include textStyles();
  display: flex;
  .layerColorWrapper {
    display: flex;
    @include boxShadow();
  }

  .layerColor {
    @include textStyles();
    background: none;
    text-transform: uppercase;
    height: $height;
    outline: none;
    margin-right: 8px;
    width: 52px;
  }

  .layerOpacity {
    @include textStyles();
    @include boxShadow();
    background: none;
    width: 48px;
    padding-left: 8px;
    height: $height;
    outline: none;
  }
}

.layerActionIcons {
  display: flex;
}

// .layer {
//   height: $height;
//   display: grid;
//   grid-template-columns: repeat(24, 10px);
//   align-items: center;
//   font-size: 12px;
//   color: var(--gray-400);
//   justify-content: space-between;
//   font-size: 11px;

//   &:hover {
//     box-shadow: 0px 0px 0px 1px var(--gray-700);
//     .layerName {
//       color: var(--gray-300);
//     }
//   }
//   .hide > div {
//     opacity: 0;
//   }
// }

// .layerVisibility {
//   grid-column: 1/4;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   & > div {
//     height: 100%;
//     width: 100%;
//   }

//   :global {
//     svg {
//       height: 14px;
//       width: 14px;
//       path {
//         fill: var(--gray-500);
//       }
//     }
//   }
// }

// .layerName {
//   display: flex;
//   grid-column: 5 / 19;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }

// .layerDelete {
//   grid-column: 22 / 25;
//   display: flex;
//   justify-content: center;
//   height: 100%;

//   & > div {
//     height: 100%;
//     width: 100%;
//   }

//   :global {
//     svg {
//       height: 12px;
//       width: 12px;
//       path,
//       polygon,
//       rect {
//         fill: var(--gray-600);
//       }
//     }
//   }
// }

// .layerVisibility:hover,
// .layerDelete:hover {
//   :global {
//     svg {
//       path,
//       polygon,
//       rect {
//         fill: var(--gray-300);
//       }
//     }
//   }
// }

.colors {
  display: flex;
  padding: 16px 8px;
  align-items: center;
}

.colorPreview {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.colors .colorPreview {
  margin-right: 8px;
}

.colorPicker {
  margin-left: 8px;
}

.opacityWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: center;
  input {
    width: 50px;
    &:hover {
      border-color: var(--gray-700);
    }
  }
  span {
    position: relative;

    &::after {
      content: '%';
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 1;
      color: var(--gray-600);
    }
  }
}
