.container {
  position: fixed;
  bottom: 8px;
  right: 288px;
  width: 280px;
  background: var(--gray-900);
  border-radius: 4px;
  box-shadow: 0 -1px var(--gray-700), 0 1px #181818;
}

.header {
  font-size: 12px;
  padding: 0 8px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-800);
  border-bottom: 1px solid #222;

  .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
  }
}

.icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background: var(--gray-600);
  }

  &:active {
    background: var(--primary-color);
  }

  svg {
    height: 16px;
    width: 16px;
    * {
      fill: white;
    }
  }
}

.body {
  padding: 8px;
}

.btn {
  font-size: 12px;
  background: var(--gray-800);
  padding: 8px;
  width: fit-content;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  display: flex;
  justify-content: center;

  box-shadow: 0 -1px var(--gray-700), 0 1px #181818;
}

.btn:hover {
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: 0 -1px lighten(#2098f5, 15), 0 1px darken(#2098f5, 15);
  transform: translateY(0px);

  .text {
    color: white;
  }

  svg {
    * {
      fill: white;
    }
  }
}

.hr {
  margin-top: 12px;
  margin-bottom: 16px;
  opacity: 0.2;
  height: 2px;
  background: black;
  border: 0px;
}

.removeBgCreditsLeft {
  font-size: 10px;
  padding-right: 8px;
  svg {
    opacity: 0.25;
  }
}

.error {
  padding: 4px;
  font-size: 12px;
  background: #211212;
  border: 1px solid #e53e3e;
  margin-bottom: 8px;
  border-radius: 4px;
  color: #e53e3e;
}
