.iconWrapper {
  height: 32px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  & > svg {
    height: 12px;
    width: 12px;
    pointer-events: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.07);
  }
}
