.tearouts {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  z-index: 1000;
  padding: 32px;
  left: 15%;
  bottom: 100px;
}

.tearoutContainer {
  position: relative;
  top: 0;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: -24px;
  height: 100%;

  &:nth-child(even) {
    // transform: rotate(-1.3deg) translateX(6px);
  }
  &:nth-child(odd) {
    // transform: rotate(0.7deg) translateX(-6px);
  }

  .tearout {
    width: 100%;
    height: 100%;
    pointer-events: none;
    min-width: 400px;
    min-height: 140px;
  }

  .contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    width: 100%;

    .logo {
      max-height: 20px;
      margin-bottom: 8px;
      mix-blend-mode: multiply;
    }

    .text {
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 8px;
      text-align: left;
      display: block;
      width: 100%;
      letter-spacing: -0.018em;
    }

    .source {
      font-size: 0.9em;
      opacity: 0.7;
      letter-spacing: -0.05em;
      font-weight: 600;
      text-align: left;
      letter-spacing: -0.018em;
      margin-top: 6px;
    }
  }
}
