.container {
  align-self: center;
  display: flex;
}

.color {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  background: #ff671f;
  position: relative;
  border-radius: 2px;

  &.active {
    border: 1px solid black;
    box-shadow: 0 0 0 1px white;
  }
}
