.highlightBg {
  display: inline-block;
  position: relative;
  margin-right: 0.3em;
  height: calc(100% - 0.1em);
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    background: var(--highlight-color);
    height: calc(100% - 0.1em);
    width: calc(100% + 0.29em);
    left: -0.12em;
    z-index: -1;
    top: calc(50% + 0.03em);
    transform: translateY(-50%);
    height: 1.04em;
  }
}

.highlightBg.oswald {
  display: inline-block;
  position: relative;
  margin-right: 0.28em;
  height: calc(100% - 0.1em);
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    background: var(--highlight-\color);
    height: calc(100% - 0.08em);
    width: calc(100% + 0.26em);
    left: -0.1em;
    top: 0.08em;
    z-index: -1;
    top: calc(50% + 0.05em);
    transform: translateY(-50%);
    height: 1.1em;
  }
}

.highlightBg.opensans {
  display: inline-block;
  position: relative;
  margin-right: 0.3em;
  height: calc(100% - 0.1em);
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    background: var(--highlight-color);
    height: calc(100% - 0.1em);
    width: calc(100% + 0.29em);
    left: -0.12em;
    z-index: -1;
    top: calc(50% + 0.03em);
    transform: translateY(-50%);
    height: 100%;
  }
}
.highlightBg.gordita {
  display: inline-block;
  position: relative;
  margin-right: 0.3em;
  height: calc(100% - 0.1em);
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    background: var(--highlight-color);
    height: calc(100% - 0.1em);
    width: calc(100% + 0.29em);
    left: -0.12em;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    height: 1.1em;
  }
}
