body {
  background: #151617;
  font-size: 16px;
}

.artboard--container {
  display: flex;
  height: 100vh;
  width: calc(100vw - 256px);
  justify-content: center;
  align-items: center;
  letter-spacing: -0.07em;
  line-height: 1;
  strong {
    letter-spacing: -0.025em;
  }
  .artboard--inner {
    transition: 0.08s ease-out;
  }

  p {
    margin-bottom: 0px;
    line-height: inherit;
  }
}

#node {
  position: relative;
  overflow: hidden;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.background-color {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: -9999999;
  top: 0;
  left: 0;
}

.background-image {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.foreground-image {
  position: absolute;
  top: 0;
  z-index: -50;
}

.artboard--inner {
  position: relative;
}

$grid-color: #ff1493;

.facebook-grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50000;
  top: 0;
  left: 0;
  pointer-events: none;
  & > div {
    border-right: 1px solid $grid-color;
    border-bottom: 1px solid $grid-color;
  }

  & > div:nth-child(5n) {
    border-right: none;
  }
  & > div:nth-child(n + 21) {
    border-bottom: none;
  }
}

.svg-icon--container {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  & > svg {
    height: 14px;
    width: 14px;
    pointer-events: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.07);
  }
}

.svg-wrapper > svg {
  fill: var(--gray-400);
}
