:root {
  --gray-100: #fafafa;
  --gray-200: #f5f5f5;
  --gray-300: #eeeeee;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-650: #575757;
  --gray-700: #424242;
  --gray-800: #303030;
  --gray-900: #212121;
  --primary-color: #18a0fb;
  --secondary-color: #ff671f;
}

// @import url('https://inter-font.getup.org.au/inter.css');
// The Inter typeface family
// - - - - - - - - - - - - - - -
// # CUSTOM VARIABLES
// - - - - - - - - - - - - - - -

// Colours
$black: #121212;
$orange-default: #2098f5;
$blue-default: #2098f5;
$gray-xlight: #eee;
$gray-default: #888;
$gray-dark: #444;
$gray-xdark: #151617;
$primary: #2098f5;
$secondary: #ff671f;
$white: #fff;

// $gray-100: #f5f5f5;
// $gray-200: #eeeeee;
// $gray-300: #e0e0e0;
// $gray-400: #bdbdbd;
// $gray-500: #9e9e9e;
// $gray-600: #757575;
// $gray-700: #616161;
// $gray-800: #424242;
// $gray-900: #212121;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$gu-orange: #ff671f;
$gu-blue: #2098f5;
$coco-pink: #f466ba;
$coco-blue: #41b9d8;
$coco-yellow: #fff766;

$fn-red: #64082a;
$fn-yellow: #d2a017;
$fn-blue: #102129;
$fn-pink: #d14145;

$ns-green-100: #f0e400;
$ns-green-300: #c3d900;
$ns-green-500: #85c326;
$ns-green-700: #3fb23c;
$ns-green-900: #1f7732;
$ns-orange-500: #ff671f;

// based on this
$primary-colour: $ns-orange-500;
$primary-colour-text: $white;

$secondary-colour: $ns-green-700;
$secondary-colour-text: $white;

$tertiary-colour: #ccc;
$tertiary-colour-text: $black;

$colour-grid-01: #fa7333;
$colour-grid-02: #46b2a2;
$colour-grid-03: #dd4c87;
$colour-grid-04: #996db4;
$colour-grid-05: #e04242;
$colour-grid-06: #3787a7;
$colour-grid-07: #67b256;
$not-policy: #888;

// Typography
$sans-serif: 'Inter UI', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

$serif: 'Merriweather', serif;

$heading-typeface: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$heading-weight: 300;
$body-typeface: $sans-serif;

$body-colour: $white;
$body-background: #222;

$alert-color: #f04124;
$info-color: #a0d3e8;
$success-color: #43ac6a;
$warning-color: #f08a24;
$dark-color: #232323;
$gray: #dfdfdf;
$gray-dark: darken($gray, 8);
$gray-light: lighten($gray, 8);

// We use these to make sure border radius matches unless we want it different.
// $global-radius: 4px;
// $global-rounded: 1000px;

// We use this for default spacing
$global-padding: 1rem;
// $global-spacing: rem-calc(15);

// 3. Breakpoints
// - - - - - - - - - - - - - - -

// These are our named breakpoints. You can use them in our breakpoint function like this: @include breakpoint(medium) { // Medium and larger styles }
$breakpoints: (
  small: rem-calc(0),
  medium: rem-calc(640),
  large: rem-calc(1200),
  xlarge: rem-calc(1440),
  xxlarge: rem-calc(1920)
);

// All of the names in this list will be output as classes in your CSS, like small-12, medium-6, and so on.
$breakpoint-classes: (small medium large xlarge xxlarge);

// Breakpoints for fluid typography
$breakpoint-fluid-small: 36rem;
$breakpoint-fluid-large: 56rem;

$h1-font-size: 4rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.25rem;
$h6-font-size: 0.7rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: 2.44rem;
$h2-font-reduction: 1.95rem;
$h3-font-reduction: 1.56rem;
$h4-font-reduction: 1.25rem;
$h5-font-reduction: 1rem;
$h6-font-reduction: 0.8rem;

$container-width: 1000px;
$block-padding: $global-padding;
$total-columns: 12;
$block-grid-max-size: 6;

// 6. Button
// - - - - - - - - - - - - - - -

$button-font-style: $sans-serif;
$button-padding: 0.6em 1em;
$button-margin: 0;
$button-radius: 0.25em;
$button-sizes: (
  'tiny': 0.7em,
  'small': 0.8em,
  'medium': 1em,
  'large': 1.2em,
  'xlarge': 1.5em
);
$button-font-size: 0.9rem;

//-------------------------------------------------------
// Follow this format:
// -- button-name: (colour, text-colour)
//
// Prepend 'btn-' to use it in a class
// -- Eg. 'getup-blue' => .btn-getup-blue
$button-styles: (
  'primary': (
    $primary-colour,
    $primary-colour-text
  ),
  'secondary': (
    $secondary-colour,
    $secondary-colour-text
  ),
  'tertiary': (
    $tertiary-colour,
    $tertiary-colour-text
  ),
  'white': (
    #fff,
    $primary-colour
  ),
  'coco-pink': (
    $coco-pink,
    #fff
  ),
  'coco-blue': (
    $coco-blue,
    #fff
  ),
  'dark': (
    #222,
    #fff
  )
);
//-------------------------------------------------------

$global-radius: 0.25em;
