.rowContainer {
  display: grid;
  grid-template-rows: 32px;
  height: 32px;
  width: 100%;
}

.rowFlexContainer {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doubleRowContainer {
  display: grid;
  grid-template-rows: 64px;
  height: 64px;
  width: 100%;
}

.addColumns {
  grid-template-columns: repeat(30, 8px);

  & > div:nth-child(1) {
    font-weight: 400;
    grid-column: 1/8;
    color: var(--gray-500);
  }

  & > div:nth-child(2) {
    grid-column: 9 / 30;
  }
}

.label {
  font-size: 12px;
  color: var(--gray-400);
  align-self: center;
  margin-left: 8px;
}
