.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

// Remove base style
.sliderInput {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }
}

.sliderInput::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  box-shadow: 0 0px 2px #222;
  cursor: pointer;
  margin-top: -3px;
}

.sliderInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  border-radius: 6px;
  cursor: pointer;
  background: var(--gray-650);
}
